.logo {
  width: 40px;
  margin-left: 20px;
}

.icon {
  width: 16px;
  height: 16px;
  margin: 10px;
}
.nav-wrapper {
  background-color: #ffd145;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
